* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #e19a53;
  min-height: 100vh;
  border-top: 40px solid #050117 ;
  border-bottom: 40px solid #050117;
  border-left: 300px solid #050117;
  border-right: 300px solid #050117;
  
}

.dotted {

  border-style: solid; 
  font-size: large;
  color: #010000;
  border-top: 5px solid #020202 ;
  border-bottom: 5px solid #030303;
  border-left: 5px solid #0c0c0c;
  border-right: 5px solid #0e0e0e;

}

.dotted{
  background-image: url('istockphoto-182412483-612x612.jpg');
  outline: 2px solid black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;

}



.content {
  max-width: 900px;
  margin: 0 auto;
}
.top_section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.top_section h1 {
  font-size: 50px;
  font-weight: bold;
  color: #11063d;
  text-transform: uppercase;
}
.top_section h4 {
  font-size: 30px;
  text-align: end;
}

.image_container {
  border-radius: 50%;
  overflow: hidden;
}

.image_container,
img {
  width: 300px;
  height: 320px;
}
.about_section {
  margin-top: 50px;
}
.about_section h2 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}
.about_section p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
}


.about_section2 {
  margin-top: 50px;
}
.about_section2 h3 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 20px;
}
.about_section2 p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
}

.image2 
img {
  margin-top: 2cm;
  margin-bottom: 1.5cm;
  width: 900px;
  height: 420px;
  
} 

 
  
footer {
  margin: 50px 0;
}
footer p {
  text-align: end;
}
